body, html {
    height: 100% !important;
    background: #202225;
    color: #dcddde;
}

body {
    overflow: hidden;
}

.card {
    background: #2f3136 !important;
    border: none;
}

.form-control {
    color: #dcddde !important;
    background-color: rgba(114, 118, 125, .3) !important;
    border-radius: 5px !important;
    border: 0 !important;
}

.form-control:focus {
    box-shadow: none;
}

#drag:hover {
    cursor: move;
}

main {
    background-color: #36393f;
    min-height: 100%;
}

/* width */
::-webkit-scrollbar {
    height: 8px;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-style: solid;
    border-radius: 7px;
    border-width: 10px;
    border-color: rgba(2, 2, 2, .2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-color: transparent;
    border-radius: 8px;
}

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*background: #555;*/
/*}*/

#latest-container {
    height: 80vh;
    overflow-y: scroll
}

@media (min-height: 1100px) {
    #latest-container {
        height: 80vh
    }
}

@media (max-height: 800px) {
    #latest-container {
        height: 77vh
    }
}

@media (max-height: 700px) {
    #latest-container {
        height: 74vh
    }
}

@media (max-height: 600px) {
    #latest-container {
        height: 70vh
    }
}

@media (max-height: 500px) {
    #latest-container {
        height: 66vh
    }
}

@media (max-height: 430px) {
    #latest-container {
        height: 63vh
    }
}

.modal {
    display:none;
}